<html>
  <head>
    <title>Video Search</title>
<style>
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Thumbnail</th>
          <th>Uploaded</th>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
        {% for video in results %}
          <tr>
	    <td><a href="{{url_for('video', service=video['service'], service_id=video['service_id'])}}"><img width="256" src="{{url_for('thumbnail', service=video['service'], service_id=video['service_id'])}}"></a></td>
            <td>{{video['upload_date']}}</td>
            <td><a href="{{url_for('video', service=video['service'], service_id=video['service_id'])}}">{{video['title']  |safe }}</a></td>
          </tr>
        {% endfor %}
  </body>
</html>
